*{
    margin: 0;
    padding: 0;
    font-family: 'Brush Script MT', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #13253c;
}

button{
    background-image: url(https://gifdb.com/images/high/animated-bear-is-in-love-obdfb0txoitfinz6.webp);
    background-size: cover;
    /* background-image: url(https://i.pinimg.com/originals/89/35/50/89355081a213ca3f622b0b39b94e9016.gif); */
    padding: 10px 30px;
    border-radius: 2px;
    border: 2px solid #f08080;
    width: 185px;
    text-align: center;
    margin-bottom: 15px;
    transition: all .2s ease-in-out; 
    margin: 4px;
    margin-left: 8vh; 
    font-size: 28px;
    color: #003049;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 12px 16px 0 rgba(239, 67, 67, 0.24), 0 17px 50px 0 rgba(203, 203, 203, 0.19);
    }
}

.container{
    position: relative;
}

.valentines{
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}

.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f08080;

    &:before{
        background-color: #f08080;
        content: '';
        position: absolute;
        width: 212px;
        height: 212px;
        transform: rotate(45deg);
        top: -105px;
        left: 44px;
        border-radius: 30px 0 0 0;
    }
}

.card{
    position: absolute;
    background-color: #eae2b7;
    width: 270px;
    height: 170px;
    top: 15px;
    left: 15px;
    box-shadow: -5px -5px 100px rgba(231, 84, 84, 0.4);

    &:before{
        /* background-image: url(https://media1.tenor.com/m/qGyHMGg0JhsAAAAC/im-so-sorry-sorry.gif); */
        background-image: url(https://i.pinimg.com/originals/89/35/50/89355081a213ca3f622b0b39b94e9016.gif);
        background-position: 5vh;
        background-size: cover;
        content: '';
        position: absolute;
        border: 3px solid #f08080;
        border-style: outset;
        width: 240px;
        height: 140px;
        left: 12px;
        top: 12px;
    }
}

.letter{
    position: absolute;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    top: 19px;
    left: 50px;
    color: #003049;
}

.letter2{
    position: absolute;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    left: 45px;
    color: #003049;
}

.heart{
    background-color: #d62828;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 110px;
    left: 105px;
    transform: rotate(-45deg);
    width: 30px;
    animation: big-heart 1s linear infinite;
}

.heart:before, .heart:after{
    content: '';
    background-color: #d62828;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before{
    top: -15px;
    left: 0;
}

.heart:after{
    left: 15px;
    top: 0;
}

.floating-hearts{
    position: absolute;
    top: 15px;
}

.one, .two, .three, .four, .five{
    background-color: red;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    top: 50px;
}

.one:before, .one:after, .two:before, .two:after, .three:before, .three:after, .four:before, .four:after, .five:before, .five:after{
    content: '';
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
}

.one:before, .two:before, .three:before, .four:before, .five:before{
    top: -5px;
    left: 0;
}

.one:after, .two:after, .three:after, .four:after, .five:after{
    left: 5px;
    top: 0;
}

.one{
    left: 10px;
    animation: mini-heart 1s ease-out infinite;
}

.two{
    left: 30px;
    animation: mini-heart 2s ease-out infinite;
}

.three{
    left: 50px;
    animation: mini-heart 1.5s ease-out infinite;
}

.four{
    left: 70px;
    animation: mini-heart 2.3s ease-out infinite;
}

.five{
    left: 90px;
    animation: mini-heart 1.7s ease-out infinite;
}

.cover{
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;

    &:before{
        position: absolute;
        content: '';
        border-left: 300px solid #f8ad9d;
        border-top: 195px solid transparent;
        left: -120px;
        top: -95px;
        width: 0;
        height: 0;
    }
}

.shadow{
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 265px;
    left: -15px;
    z-index: -1;
    animation: env-shadow 3s linear infinite;
}

@keyframes up {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}

@keyframes big-heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
        box-shadow: 0 0 10px rgba(247, 59, 194, 0.3);
    }
    50% {
        transform: rotate(-45deg) scale(1.0);
        box-shadow: 0 0 20px rgba(247, 59, 194, 0.5);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
        box-shadow: 0 0 10px rgba(247, 59, 194, 0.3);
    }
}

@keyframes mini-heart{
    0%{
        transform: translateY(0) rotate(-45deg) scale(0.3);
        opacity: 1;
        
    }
    100%{
        transform: translateY(-150px) rotate(-45deg) scale(1.3);
        opacity: 0.5;
    }
}

@keyframes env-shadow {
    0%, 100%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0.85);
    }
}